@import "tailwindcss";

:root {
  --primary: #eb2c1a;
  --secondary: #f7c526;
  --dark: #0b1120;
  --light: #f9fafb;
}

@theme {
  --color-primary: #eb2c1a;
  --color-primary-hover: rgba(235, 44, 26, 0.1);

  --color-secondary: #f7c526;

  --color-dark: #0b1120;

  --color-light: #f9fafb;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.font-bebas {
  font-family: var(--font-bebas);
}

.btn-primary {
  border-radius: 0.75rem;
  background-color: var(--primary);
  color: var(--light);
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  text-align: center;
  transition: all 150ms ease;
  cursor: pointer;
  border: 1px solid var(--primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-primary:hover {
  background-color: rgb(235 44 26 / 0.9);
}

.btn-secondary {
  border-radius: 0.75rem;
  background-color: var(--light);
  color: var(--dark);
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  text-align: center;
  transition: all 150ms ease;
  cursor: pointer;
  border: 1px solid rgb(209, 213, 219);
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-secondary:hover {
  background-color: rgb(249, 250, 251);
}
